Untitled*.ipynb
notebooks/Test.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled0.ipynb
*.dyn_o
*.dyn_hi
*.o
dist
IHaskell/GHC
env
.ihaskell_capture
.ipynb_checkpoints
Hspec
todo
.cabal-sandbox
cabal.sandbox.config
.tmp1
.tmp2
.tmp3
.stack-work
src/Hspec
dist
**/dist
**/.stack-work
