
.results {
  padding-bottom: 0.5em;
}

pre.success {
	border-color: green;
}

pre.success.stdout::before {
    content: "stdout: ";
}

pre.error {
	border-color: red;
  max-height: 150px;
}

pre.error.network::before {
  content: "Network Error: ";
}

pre.why {
  border-style: dashed !important;
  background: white;
}

button {
  z-index: 1000;
  background: white;
  border: 0;
}
